[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/alacritty/alacritty-theme"]
	path = .config/alacritty/alacritty-theme
	url = https://github.com/eendroroy/alacritty-theme
[submodule "/home/anthony/.config/alacritty/catppuccin"]
	path = /home/anthony/.config/alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
